@model MedicalPractice.Domain.Entities.Doctor
@using MedicalPractice.WebUI.Controllers;

<style>
    input {
        position: absolute;
        top: 10px;
        left: 90%;
    }
</style>

<div class="list-group-item">
    <p> @Model.Name @Model.Surname  @Model.Specjalization</p>
    @using (Html.BeginForm("Index", "VisitOrder"))
    {
        <div class="pull-right">
            @Html.Hidden("Name", Model.Name )
            @Html.Hidden("Surname", Model.Surname)
            @Html.Hidden("id", Model.DoctorID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Umów wizytę" />
        </div>
    }
</div>